@mixin square($size, $color){
    width: $size;
    height: $size;
    background-color: $color;
}

.blue-sq{
    @include square(40px, rgba(0,0,255, 0.5));
}

.red-sq{
    @include square(40px, rgba(255,0,0, 0.5) );
}
