<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/main.css">
    <title>SASS</title>
</head>
<body>

    <!-- Variables -->
    <h1 class="title">Texto</h1>
        <div class="container">
            <p>Texto desde div</p>
        </div>
    <!-- MIXING -->
    <div class="blue-sq">

    </div>
    <div class="red-sq">
        
    </div>
    <!-- EXTEND -->
    <button class="confirm">Aceptar</button>
    <button class="cancel">Cancelar</button>
    <button class="exit">Salir</button>

    <!-- ANIDACION -->
    <br>
    <br>
    <br>
    <ul>
        <li><a href="#home">Inicio</a></li>
        <li><a href="#home">Productos</a></li>
        <li><a href="#home">Contacto</a></li>
        <li><a href="#home">Acerca de</a></li>
    </ul>
    <!-- OPERACIONES -->
    <div class="item1"></div>
    <div class="item2"></div>

    <!-- FUNCIONES -->
    <img src="" alt="" id="img1" width="460" height="345">
    <img src="" alt="" id="img2" width="460" height="345">
    <img src="" alt="" id="img3" width="460" height="345">
    <img src="" alt="" id="img4" width="460" height="345">
    <img src="" alt="" id="img5" width="460" height="345">
</body>
</html>